<app-menu></app-menu>
<div class="card card-5">
<div class="container">
  <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm">
        <h4>Listas de chequeo</h4>
      </div>
      <div class="col-sm">

      </div>
  </div>
</div>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Nombre de la lista de chequeo</th>
      <th scope="col">Autor</th>
      <th scope="col">Fecha</th>
      <th scope="col">Estado</th>
      <th scope="col">Accion</th>

    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let planilla of planillas">
      <td>{{planilla.nombreLista}}</td>
      <td>pedro</td>
      <td>12/01/201</td>
      <td>lista</td>
      <td>action</td>
    </tr>
   
   
  </tbody>





</table>
<div class="row">
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
              <button type="button" class="btn btn-warning" [routerLink]="['/home']" > Nueva lista</button>
      </div>
  </div>
</div>