<app-menu></app-menu>
<form>

    <div class="form-group">
    <label for="valoracion">criterio de valoracion</label>
    <input type="text" class="form-control" id="valoracion" placeholder="criterio de valoracion">
    </div>
    <div class="form-group">
        <select class="custom-select" required>
          <option value="">tipo de criterio</option>
          <option value="1">Calidad</option>
          <option value="2">Servicio</option>
          <option value="3">Oportunidad</option>
          <option value="4">Capacidad</option>
          <option value="5">Precio</option>
          <option value="6">Metodo</option>
          <option value="7">Materiales</option>
          <option value="8">Competencias</option>
        </select>
    </div>
    <div class="form-group">
    <label for="pon">ponderacion</label>
    <input type="text" class="form-control" id="pon" placeholder="ponderacion">
    </div>
    <div class="form-group">
    <label for="desc">descripcion de criterio </label>
    <textarea class="form-control" id="desc" placeholder="descripcion de criterio" rows="3"></textarea>
    </div>
    </form>