<app-menu></app-menu>
<!-- <nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <a (click)="logout()" class="navbar-text navbar-right navbar-link">cerrar sesion</a>
    <a type="button" class="navbar-text navbar-right navbar-link" [routerLink]="['/tabla']">Listas</a>
  </div>
</nav> -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <div class="card" style="width: 35rem; text-align: center;">
        <img class="card-img-top image" [src]="user.image" *ngIf="user.image" alt="User image">
        <img class="card-img-top" src="../../assets/img/gui-2311261_1280.png" *ngIf="!user.image"
          alt="User image">
        <div *ngIf='user.provider != "password"' class="card-body">
          <h5 class="card-title">Bienvenido(a) <b>{{user.name}}</b>.</h5>
          <p class="card-text"> Te damos la bienvenida a nuestra aplicacion de control de listas que chequeo.</p>
        </div>
        <div *ngIf='user.provider == "password"' class="card-body" style="align-content: center;">
          <form [formGroup]="profileForm">
            <div class="form-group">
                <h5> Bienvenido(a) <b>{{user.name}}</b>.</h5>
              <p class="card-text"> Te damos la bienvenida a nuestra aplicación de control de listas de chequeo.</p>
              <input type="text-center" placeholder="Ingresa tu nombre para recordarlo" formControlName="name" class="form-control inputcentrado" required style="width:300px;height:30px; margin: auto;">
            </div>
          </form>
          <button (click)="save(profileForm.value)" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
