.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -159px;
  margin-left: 239px;
}

.image {
  width: 50%
}
