<nav class="navbar navbar-expand-lg navbar-light teal">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home']">Inicio </a>
      <!---   <a class="nav-item nav-link" [routerLink]="['/plantilla']">PLANTILLAS</a>-->
      <a class="nav-item nav-link" [routerLink]="['/tabla']">Tabla del rol Staff</a>
      <a class="nav-item nav-link" [routerLink]="['/tablaADMIN']">Tabla del Administrador</a>
      <a (click)="logout()" class="navbar-text navbar-right navbar-link">cerrar sesion</a>

    </div>
  </div>
</nav>