.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

.success{
  color: green;
}
.card {
  background: #fff;
  border-radius: 83px;
  display: inline-block;
  height: 100%;
  margin: 1rem;
  position: relative;
  margin-top: 2%;
  width: 74%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.teal{
  text-align: center;
  background: rgb(4, 163, 236);
  position: relative;


}
 .img{
 widows: 200px;;
 height:200px;
 display: block;
margin-left: auto;
margin-right: auto;
 }